<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/admin_header :: head"> </head>
<body>
<nav th:replace="fragments/admin_header :: menu"></nav>
<div class="container">
    <br>
    <div class="card">
        <h5 class="card-header" th:text="*{title}"></h5>
        <div class="card-body offset-md-1">

        <div  th:if="${message!=null}" class="alert alert-warning" role="alert">
        <span th:text="*{message}"></span><br/>
        <a th:href="${'/user/stock/update/'+lastRecordId}">Son Eklenen</a>
        </div>
        <form class="form-block" action="@{/save}" th:action="@{/user/stock/save}" th:object="${stockForm}" method="post">
            <div class="form-group">
                <label for="productCode">Ürün Kodu</label>
                <input id="productCode" type="text" class="form-control" th:field="*{stock.productCode}">
                <span th:if="${#fields.hasErrors('stock.productCode')}" th:errors="*{stock.productCode}">Age Error</span>
            </div>
            <div class="form-group">
                <label for="productCode">Ürün Adı</label>
                <input id="productCode" type="text" class="form-control" th:field="*{stock.productName}">
                <span th:if="${#fields.hasErrors('stock.productName')}" th:errors="*{stock.productName}">Age Error</span>
            </div>
            <div class="form-group">
                <label for="category">Kategori</label>
                <select class="form-control" id="category" th:field="*{stock.category.id}">
                    <option th:each="c:${categories}"
                            th:value="${c.id}"
                            th:text="${c.name}">
                    </option>
                </select>
            </div>
            <hr/>
            <div class="form-group">
                <table>
                    <tr><td>Sipariş tarihi</td>
                        <td>Miktar</td>
                    </tr>
                    <tr th:each="currentStockArrival,i:*{stockArrivalList}">
                    <td><span th:text="${currentStockArrival.arrival.arrivalDate}"></span> </td>
                        <td> <input type="text" class="form-control" th:field="*{stockArrivalList[__${i.index}__].productAmount}"  />
                            <input type="hidden" class="form-control" th:field="*{stockArrivalList[__${i.index}__].arrival.id}"  />
                        </td>


                </tr>
                </table>
            </div>
     <hr/>
            <div class="form-group">
                <table>
                    <tr><td>Raf</td>
                        <td>Miktar</td>
                    </tr>
                    <tr th:each="currentStockShelf,i:*{stockShelfList}">
                        <td><span th:text="${currentStockShelf.shelf.name}"></span> </td>
                        <td> <input type="text" class="form-control" th:field="*{stockShelfList[__${i.index}__].productAmount}"/>
                            <input type="hidden" class="form-control" th:field="*{stockShelfList[__${i.index}__].shelf.id}"  />

                        </td>


                    </tr>
                </table>
            </div>


            <div class="form-group">
                <input type="hidden" th:field="*{stock.id}">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>

    </div>
</div>

<div th:replace="fragments/admin_footer :: footer"></div>
</body>
</html>