<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/admin_header :: head"> </head>
<body>
<nav th:replace="fragments/admin_header :: menu"></nav>

<br>
<br>

<div class="container">
    <a th:href="*{addNewLink}"> <button  class="btn btn-success">Yeni Ekle</button></a>
    <div class="table-responsive">
        <!--<h3 th:text="*{title}"></h3>-->

        <table class="table table-striped" border="1">
            <thead class="table-info">
            <tr>
                <th>#</th>
                <th>Ürün Adı</th>
                <th>Ürün Kodu</th>
                <th>İşlem</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="stock,iter:*{entities}">
                <td th:text="${iter.index+1}"></td>
                <td th:text="${stock.productCode}"></td>
                <td th:text="${stock.productName}"></td>
                <td>
                    <a class='btn btn-info' th:href="@{/user/stock/update/}+${stock.id}">Düzenle</a>
                    <!--<form th:action="@{/user/shelf/delete}" method="delete">-->
                    <!--<input type="hidden"  th:value="${shelf.id}"/>-->
                    <!--<input type="submit" class='btn btn-danger' value="Sil"/>-->
                    <!--</form>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/admin_footer :: footer"></div>
</body>
</html>