<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/admin_header :: head"> </head>
<body>
<nav th:replace="fragments/admin_header :: menu"></nav>

<br>
<br>

<div class="container">
    <div class="table-responsive">
        <!--<h3 th:text="*{title}"></h3>-->
       <table class="table table-striped" border="1">
           <thead class="table-info">
           <tr>
               <th>#</th>
                <th>Raf Adı</th>
               <th>İşlem</th>
           </tr>
           </thead>
           <tbody>
               <tr th:each="shelf,iter:*{shelves}">
                   <td th:text="${iter.index+1}"></td>
                   <td th:text="${shelf.name}"></td>
                   <td>
                       <a class='btn btn-info' href="#">Düzenle</a>
                       <!--<form th:action="@{/user/shelf/delete}" method="delete">-->
                           <!--<input type="hidden"  th:value="${shelf.id}"/>-->
                           <!--<input type="submit" class='btn btn-danger' value="Sil"/>-->
                       <!--</form>-->
                   </td>
               </tr>
           </tbody>
       </table>
    </div>
</div>
<div th:replace="fragments/admin_footer :: footer"></div>
</body>
</html>