<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/admin_header :: head"> </head>
<body>
<nav th:replace="fragments/admin_header :: menu"></nav>

<br>
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <span th:text="${arrival.arrivalDate}"></span>
            <br>
            <span>Olarak Başarıyla güncellenmiştir.</span>
            <br>
            <br>
            <a class="btn btn-info" th:href="@{/user/arrival/list}">Listele</a>
            <a class="btn btn-info" th:href="@{/user/arrival}">Yeni Sipariş Tarihi Ekle</a>
        </div>
    </div>

</div>

<div th:replace="fragments/admin_footer :: footer"></div>
</body>
</html>