<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistem Stok</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Sistem Stok</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Giriş <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ürünler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sipariş Tarihleri</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="arrivalDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sipariş Tarihleri
                    </a>
                    <div class="dropdown-menu" aria-labelledby="arrivalcategoryDropdownMenuLink">
                        <a class="dropdown-item"  th:href="@{/user/arrival}">Yeni Ekle</a>
                        <a class="dropdown-item"  th:href="@{/user/arrival/list}">Listele</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoryDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kategoriler
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categoryDropdownMenuLink">
                        <a class="dropdown-item"  th:href="@{/user/category}">Yeni Ekle</a>
                        <a class="dropdown-item"  th:href="@{/user/category/list}">Listele</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="shelfDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Raflar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="shelfDropdownMenuLink">
                        <a class="dropdown-item"  th:href="@{/user/shelf}">Yeni Ekle</a>
                        <a class="dropdown-item"  th:href="@{/user/shelf/list}">Listele</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>
</body>
</html>

