<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/admin_header :: head"> </head>
<body>
<nav th:replace="fragments/admin_header :: menu"></nav>
<br>
<br>
<div class="container" style="max-width:600px;padding:40px 20px;background:#ebeff2">
    <h3>Kategori Adı Güncelle</h3>
    <form class="form-inline" th:action="@{/user/category/update}" th:object="${categoryUpdated}" method="post" >
        <div class="form-group">
            <label for="name">Kategori Adı</label>
            <input id="name" type="text" class="form-control" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">NameError</span>
        </div>
        <input type="hidden" th:field="*{id}">
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </form>
</div>

<div th:replace="fragments/admin_footer :: footer"></div>
</body>
</html>