<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/admin_header :: head"> </head>
<body>
<nav th:replace="fragments/admin_header :: menu"></nav>

<h3 th:text="*{title}"></h3>
<div class="container" style="max-width:600px;padding:40px 20px;background:#ebeff2">
    <div class="col-md-10 col-md-offset-1">
        <strong>Stok Ekle</strong>
        <br>
        <br>
        <form class="form-inline" action="#" th:action="@{/user/stock/save}" th:object="${stockShelf}" method="post">
            <!--<div class="form-group">-->
                <!--<label for="productCode">Ürün Kodu</label>-->
                <!--<input id="productCode" type="text" class="form-control" th:field="*{productCode}">-->
                <!--<span th:if="${#fields.hasErrors('productCode')}" th:errors="*{productCode}">Age Error</span>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="productNumber">Ürün Kodu</label>-->
                <!--<input id="productNumber" type="text" class="form-control" th:field="*{productNumber}">-->
                <!--<span th:if="${#fields.hasErrors('productNumber')}" th:errors="*{productNumber}">Age Error</span>-->
            <!--</div>-->

            <!--<div th:each="shelf : ${shelves}">-->
                <!--<input type="checkbox" th:id="${shelf}" th:value="${shelf.id}" th:field="*{shelves}" th:text="${shelf.name}"/>-->
            <!--</div>-->

            <!--<div th:each="arrival : ${arrivalList}">-->
                <!--<input type="checkbox" th:field="*{arrivals}" th:value="${arrival}" th:text="${arrival.arrivalDate}"/>-->
            <!--</div>-->

            <select th:field="*{shelf}">
                <option th:each="shelf:${shelfList}" th:value="${shelf}" th:text="${shelf.name}">
                    Category
                </option>
            </select>

            <!--<input type="hidden" th:field="*{id}">-->
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>

    </div>
</div>
<div th:replace="fragments/admin_footer :: footer"></div>
</body>
</html>