<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/admin_header :: head"> </head>
<body>
<nav th:replace="fragments/admin_header :: menu"></nav>

<br>
<br>

<div class="container">
    <a th:href="@{*{addNewLink}}"> <button  class="btn btn-success">Yeni Ekle</button></a>
    <div class="table-responsive">

        <table class="table table-striped">
           <thead class="table-info">
           <tr>
               <th>#</th>
                <th>Sipariş Adı</th>
               <th>İşlem</th>
           </tr>
           </thead>
           <tbody>
               <tr th:each="arrival,iter:*{entities}">
                   <td th:text="${iter.index+1}"></td>
                   <td th:text="${arrival.arrivalDate}"></td>
                   <td>
                       <a class='btn btn-info' th:href="@{/user/arrival/}+${arrival.id}">Düzenle</a>
                       <!--<form th:action="@{/user/arrival/delete}" method="delete">-->
                           <!--<input type="hidden"  th:value="${arrival.id}"/>-->
                           <!--<input type="submit" class='btn btn-danger' value="Sil"/>-->
                       <!--</form>-->
                   </td>
               </tr>
           </tbody>
       </table>

    </div>
</div>
<div th:replace="fragments/admin_footer :: footer"></div>
</body>
</html>